* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

table {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.cell__brandName {
    background-color: cornflowerblue;
    text-align: center;
}

.cell__model {
    background-color: crimson;
}